<h1>Guess an age</h1>

<%= form_for @new_person, :remote => true do |f|  %>
	<%= f.text_field :height, :placeholder => 'Height in cm' %><br>
	<%= f.text_field :weight,  :placeholder => 'Weight in kgs' %><br>
	<%= f.submit %>
<% end %>

<div class="person"></div>